.flex {
    background-color: blueviolet;
    display: flex;
}

.quadrado1 {
    background-color: gray;
    width: 100px;
    height: 100px;
}

.quadrado2 {
    background-color: gray;
    width: 100px;
    height: 100px;
}

.quadrado3 {
    background-color: gray;
    width: 100px;
    height: 100px;
}