*{
    padding: 0;
    margin: 0;
}
.flex {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quadrado1 {
    border: solid red;
    background-color: gray;
    width: 100px;
    height: 100px;
}

.quadrado2 {
    border: solid red;
    background-color: gray;
    width: 100px;
    height: 100px;
}

.quadrado3 {
    border: solid red;
    background-color: gray;
    width: 100px;
    height: 100px;
}