.flex {
    background-color: blueviolet;
    display: flex;
}

.quadrado1 {
    background-color: gray;
}

.quadrado2 {
    background-color: gray;
}

.quadrado3 {
    background-color: gray;
}